In [9]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" "*len("ineuron"),end = " ")
    for j in range(i+1):
        print("ineuron"+" "*len("ineuron")+" ",end = " ")
    print()
for i in range (n-1,0,-1):
    for j in range(i-1,n-1):
        print(" "*len("ineuron"),end = " ")
    for j in range(i):
        print("ineuron"+" "*len("ineuron")+" ",end = " ")
    print()

                ineuron
        ineuron         ineuron
ineuron         ineuron         ineuron
        ineuron         ineuron
                ineuron

2

In [131]:
3

3

In [10]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","datascience"]]

In [56]:
for i in l:
    if type(i)==list:
        print(i)
        for j in i:
            print(j)

[1, 2, 3, 4]
1
2
3
4
['ineuron', 'datascience']
ineuron
datascience

In [132]:
5

5

In [12]:
set([23,4,5,45,4,4,5,45,45,4,5])

{4, 5, 23, 45}

In [20]:
for i in l:
    if type(i)==tuple:
        for j in i:
            print(j)
        print(i)

2
3
4
5
6
(2, 3, 4, 5, 6)
3
4
5
6
7
(3, 4, 5, 6, 7)

In [57]:
list((i))

['ineuron', 'datascience']

In [133]:
4

4

In [44]:
for i in l:
    if type(i)==dict:
        print(i.items())
        print()
        print(i.keys())
        print()
        print(i.values())

dict_items([('k1', 'sudh'), ('k2', 'ineuron'), ('k3', 'kumar'), (3, 6), (7, 8)])

dict_keys(['k1', 'k2', 'k3', 3, 7])

dict_values(['sudh', 'ineuron', 'kumar', 6, 8])

In [59]:
6,7

(6, 7)

In [49]:
sum=0
for i in l:
    for j in i:
        if type(j)==int:
            print(j)
            sum=sum+j
    print()
    if type(i)==dict:
        for k,v in i.items():
            if type(v)==int:
                print(v)
                sum= sum+v
print(sum)

1
2
3
4

2
3
4
5
6

3
4
5
6
7

45
4
5
23

3
7

6
8

156

In [60]:
8

8

In [51]:
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                if j%2==0:
                    print(j)

2
4

In [61]:
9

9

In [54]:

for i in l:
    for j in i:
        if j=="ineuron":
            print(j)
        
    print()
    if type(i)==dict:
        for k,v in i.items():
            if v=="ineuron":
                print(v)

ineuron
ineuron

In [134]:
10 = ?

SyntaxError: cannot assign to literal (611862615.py, line 1)

In [72]:
11

11

In [85]:
for i in l :
    if type(i)==dict:
        count=0
        for j in i:
            count=count+1
        print(count)

5

In [86]:
12

12

In [91]:
for i in l:
    for j in i:
        if type(j)==str:
            print(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(v)==str:
                print(v)

k1
k2
k3
sudh
ineuron
kumar
ineuron
datascience

In [92]:
13

13

In [106]:
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==int or type(i)==str or type(i)==set:
        for j in i:
            if type(j)==str:
                if j.isalnum()==True:
                    print(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==str or type(v)==str:
                if k.isalnum()==True:
                    print(k)
                if v.isalnum()==True:
                    print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron
datascience

In [127]:
14

14

In [125]:
for i in l:
     if type(i)==list or type(i)==tuple or type(i)==int or type(i)==str or type(i)==set:
            k=1
            for j in i:
                if type(j)==int:
                    k=k*j
            print(i,":",k)
     if type(i)==dict:
        k=1
        for m,n in i.items():
            if type(m)==int or type(n)==int:
                k=k*m*n
        print(i,":",k)

[1, 2, 3, 4] : 24
(2, 3, 4, 5, 6) : 720
(3, 4, 5, 6, 7) : 2520
{45, 4, 5, 23} : 20700
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8} : 1008
['ineuron', 'datascience'] : 1

In [126]:
15

15

In [130]:
l1=[]
for i in l:
     if type(i)==list or type(i)==tuple or type(i)==int or type(i)==str or type(i)==set:
            for j in i:
                l1.append(j)
     if type(i)==dict:
        for k,v in i.items():
            l1.append(k)
            l1.append(v)
print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'datascience']

In [136]:
1

1